<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.ryan-stoffel.parallax.plxd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/plxd</string>
		<string>serve</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PLXD_DATA_DIR</key>
		<string>/Users/ryan/Library/Application Support/parallax</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>StandardOutPath</key>
	<string>/Users/ryan/Library/Application Support/parallax/logs/plxd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/ryan/Library/Application Support/parallax/logs/plxd.log</string>
</dict>
</plist>
