[Unit]
Description=plxd, the Parallax host daemon

[Service]
Type=exec
ExecStart="/usr/local/bin/plxd" serve
Environment="PLXD_DATA_DIR=/home/ryan/.local/share/parallax"
KillMode=mixed
Restart=on-failure
StandardOutput=append:/home/ryan/.local/share/parallax/logs/plxd.log
StandardError=append:/home/ryan/.local/share/parallax/logs/plxd.log

[Install]
WantedBy=default.target
